*.csv
*.zip
Clustering_Retreival/week5/i5zBDt4bEemhxxJUtZcQoA_7fb43aab245846f09a8c48977883f0b6_people_wiki.sframe.zip
Classification/Week3/lending-club-data.csv
Clustering_Retreival/Week2/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz
Clustering_Retreival/Week2/people_wiki_tf_idf.npz
Clustering_Retreival/Week2/people_wiki.csv
Clustering_Retreival/Week2/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz (1).zip
Classification/Week4/lending-club-data.csv
Clustering_Retreival/Week6/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz.zip
Clustering_Retreival/Week6/i5zBDt4bEemhxxJUtZcQoA_7fb43aab245846f09a8c48977883f0b6_people_wiki.sframe.zip
Clustering_Retreival/Week6/people_wiki.sframe/m_cf05efad0f89a530.0000
Clustering_Retreival/Week6/people_wiki_tf_idf.npz
Clustering_Retreival/week5/i5s6bd4bEemhxxJUtZcQoA_c835f3aa6f324f92a988939d2e1434ed_topic_models.zip
Clustering_Retreival/Week4/people_wiki.csv

Clustering_Retreival/Week2/_167fc84b78dc145609e919983b475aaa_people_wiki.csv (1).zip
Clustering_Retreival/Week2/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz (1).zip
Clustering_Retreival/Week2/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_word_count.npz.zip
Clustering_Retreival/Week2/_96eadbec4d43a0b0870dde27d0652fb2_people_wiki_map_index_to_word.json (1).zip
Clustering_Retreival/Week2/people_wiki_tf_idf.npz
Clustering_Retreival/Week2/people_wiki_word_count.npz

Clustering_Retreival/Week3/_167fc84b78dc145609e919983b475aaa_people_wiki.csv.zip
Clustering_Retreival/Week3/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz.zip
Clustering_Retreival/Week3/_a20552cf806c54b71b3b87cb593b9968_kmeans-arrays.npz.zip
Clustering_Retreival/Week3/kmeans-arrays.npz
Clustering_Retreival/Week3/people_wiki.csv
Clustering_Retreival/Week3/people_wiki_tf_idf.npz

Clustering_Retreival/week3/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz.zip
Clustering_Retreival/week3/people_wiki_tf_idf.npz
Clustering_Retreival/week3/people_wiki.csv
Clustering_Retreival/week3/kmeans-arrays.npz
Clustering_Retreival/week3/_a20552cf806c54b71b3b87cb593b9968_kmeans-arrays.npz.zip
Clustering_Retreival/week3/_167fc84b78dc145609e919983b475aaa_people_wiki.csv.zip

Clustering_Retreival/Week4/_167fc84b78dc145609e919983b475aaa_people_wiki.csv.zip
Clustering_Retreival/Week4/_8a352ed8c119f98f079305de3bd46e26_images.zip
Clustering_Retreival/Week4/_af95de312b911daa1d7142fd60ae12e1_4_tf_idf.npz.zip
Clustering_Retreival/Week4/people_wiki.csv

Clustering_Retreival/Week5/i5s6bd4bEemhxxJUtZcQoA_c835f3aa6f324f92a988939d2e1434ed_topic_models.zip
Clustering_Retreival/Week5/i5zBDt4bEemhxxJUtZcQoA_7fb43aab245846f09a8c48977883f0b6_people_wiki.sframe.zip

Clustering_Retreival/week5/i5s6bd4bEemhxxJUtZcQoA_c835f3aa6f324f92a988939d2e1434ed_topic_models.zip


Clustering_Retreival/Week6/_167fc84b78dc145609e919983b475aaa_people_wiki.csv.zip
Clustering_Retreival/Week6/_395a4cfb2299d1655f1ef6bf6cc4f71b_people_wiki_tf_idf.npz.zip
Clustering_Retreival/Week6/i5zBDt4bEemhxxJUtZcQoA_7fb43aab245846f09a8c48977883f0b6_people_wiki.sframe.zip
Clustering_Retreival/Week6/people_wiki.csv
Clustering_Retreival/Week6/people_wiki_tf_idf.npz

Classification/Week4/lending-club-data.csv

Classification/Week1/_35bdebdff61378878ea2247780005e52_amazon_baby.gl.zip
Classification/Week1/_596922c59a7068d4eb7baa104c01a685_amazon_baby.csv.zip
Classification/Week1/amazon_baby.csv
Classification/Week1/z2MqguI0Eemm5A4ynZyB2A_fb01f0fbfc2b4701913139e2e54281af_amazon_baby.sframe.zip

Classification/Week2/4Hx-QuI1Eem3eBKX1RzcIA_0e322599c7c0428097616696ac5e6728_amazon_baby_subset.sframe.zip
Classification/Week2/_35bdebdff61378878ea2247780005e52_amazon_baby_subset.gl.zip
Classification/Week2/amazon_baby_subset.csv

Classification/Week3/_c18ade74fb45f307917ac9c670944b84_lending-club-data.csv.zip
Classification/Week4/_c18ade74fb45f307917ac9c670944b84_lending-club-data.csv.zip
Classification/Week6/_596922c59a7068d4eb7baa104c01a685_amazon_baby.csv.zip
Classification/Week3/lending-club-data.csv


Classification/Week6/amazon_baby.csv
Classification/Week7/_559847710f6045b9f5668d6635969ff4_amazon_baby_subset.csv.zip
Classification/Week7/amazon_baby_subset.csv

Clustering_Retreival/Week2/people_wiki_map_index_to_word.json

Clustering_Retreival/Week4/images/

